@font-face {
    font-family: Aileron_Bold;
    src: url(./assets/Fonts/Aileron-Font-Webkit/Aileron-Regular.woff);
    font-weight: bold;
  }
@font-face {
    font-family: Aileron_thin;
    src: url(./assets/Fonts/Aileron-Font-Webkit/Aileron-Light.woff2);
    font-weight: bold;
  }

body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}
.actual_logo{
     width: 50px;
     margin-left: 6rem;
     margin-top: 4rem;
}
.ellipse{
    width: 30pc;
    margin-left: 3.5rem;
}
.contact_nav{
    display: flex;
  gap: 30px;
  list-style: none;
  font-family: Aileron_thin;
  color: white;
  margin-left: 3.7rem;
  margin-top: 4rem;
  font-size: 17px;
}
.whole_main{
    display: flex;
    gap: 200px;
    /* justify-content: center; */
}

.contact_word{
    font-size: 50px;
    margin-top: 70px;
    font-family: Aileron_bold;
    margin-left: 3em;

}
.Europe, .Africa{
    margin-top: 40px;
    font-family: Aileron_thin;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 10em;
}
.Europe_word, .Africa_word{
    font-size: 20px;
}
.London, .lagos{
    font-size: 30px;
    font-family: Aileron_bold;
}
.links{
    margin-top: 120px;
    margin-left: 5rem;
    font-family: Aileron_thin;
}
.privacy_two, .privacy_one{
    text-decoration: underline;
    margin-top: 5px;
}
.copyright{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}
.copyright_image{
    margin-top: 18px;
}
#map{
    width: 235%;
    height: 100vh;
    margin-top: 0%;
    margin-bottom: -150px;
    /* margin-left: 200px; */

}
.right_map{
        right: 10%;
}
.logo_image{
    position: absolute;
    top: 50%;
    right: 25%;
    /* transform: translate(-50%, -50%); */
    max-width: 100px;

}
.footer{
    margin-top: 0px;
}
.footer_img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 80vh;
    margin-top: 50px;
}
.content{
    position: absolute;
    z-index: 999;
    color: white;
    font-family: Aileron_thin;
    /* margin-top: 300px; */
}
.logo_footer{   
    width: 120px;
    object-fit: contain;
    margin-top: 150px;
    /* margin-left: 1100px; */
    float: right;
}
.content_word{
    display: flex;
    margin-left: 150px;
    margin-top: 300px;
    gap: 50px;
    width: 100%;
}
.company, .legal, .contact{
    font-size: 25px;
}
.company_content{
    line-height: 20px;
    text-align: left;
}
.main_legal{
    padding-left: 70px;
}
.legal_content{
    line-height: 20px;
    text-align: left;
}
.socials{
    width: 30px;
}
.socials_main{
    display: flex;
    gap: 20px;
    justify-content: right;
}
.line{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
}
.Copyright{
    display: flex;
    gap: 5px;
    margin-left: 50px;
}
.copyright_img{
    margin-top: 2px;
}